@page
@model HogarGestor.App.Presentacion.Pages_DbFamiliares.CreateModel
@{
}
<form method="post">
    <div class="form-group">
        <label>Nombres</label>
        <input asp-for="familiar.nombre" placeholder="Digite el(los) nombre(s) del Familiar"class="form-control"/>
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="familiar.apellido" placeholder="Digite el(los) apellido(s) del Familiar"class="form-control"/>
    </div>
    <div class="form-group">
        <label>Genero</label>
        <select asp-for="familiar.genero" class="form-control">
            <option selected>Genero ...</option>
            <option value=0>Masculino</option>
            <option value=1>Femenino</option>
            <option value=2>Intersexual</option>
            <option value=3>No Binario</option>
            <option value=4>No ingresado</option>
        </select>
    </div>
    <div class="form-group">
        <label>Documento</label>
        <input asp-for="familiar.documento" placeholder="Digite el documento del Familiar"class="form-control"/>
    </div>
        <div class="form-group">
        <label>Telefono</label>
        <input asp-for="familiar.telefono" placeholder="Digite el teléfono del Familiar"class="form-control"/>
    </div>
    <div class="form-group">
        <label>Parentesco</label>
        <input asp-for="familiar.parentesco" placeholder="Digite el parentesco del Familiar"class="form-control"/>
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        <input asp-for="familiar.email" placeholder="Digite el Email del Familiar"class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Crear Familiar</button>
</form>