@page
@model HogarGestor.App.Presentacion.Pages_PersonalSalud.CreateModel
@{
}
<form method="post">
    <div class="form-group">
        <label>Nombres</label>
        <input asp-for="perSalud.nombre" placeholder="Digite el nombre del especialista "class="form-control"/>
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="perSalud.apellido" placeholder="Digite el(los) apellido(s)del especialista "class="form-control"/>
    </div>
    <div class="form-group">
        <label>Genero</label>
        <select asp-for="perSalud.genero" class="form-control">
            <option selected>Genero ...</option>
            <option value=0>Masculino</option>
            <option value=1>Femenino</option>
            <option value=2>Intersexual</option>
            <option value=3>No Binario</option>
            <option value=4>No ingresado</option>
        </select>
    </div>
    <div class="form-group">
        <label>Documento</label>
        <input asp-for="perSalud.documento" placeholder="Digite el documento del especialista "class="form-control"/>
    </div>
        <div class="form-group">
        <label>Telefono</label>
        <input asp-for="perSalud.telefono" placeholder="Digite el teléfono del especialista"class="form-control"/>
    </div>
    <div class="form-group">
        <label>Especialidad</label>
        <select asp-for="perSalud.especialidad" class="form-control">
            <option selected>Especialidad ...</option>
            <option value=0>Nutricionista</option>
            <option value=1>Pediatra</option>
        </select>
    </div>
    <div class="form-group">
        <label>Registro Rethus</label>
        <input asp-for="perSalud.RegRethus" placeholder="Digite el Codigo Rethus del especialista"class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Crear Especialista</button>
</form>